<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}
    <style>
    .box {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
    </style>
    <div class="box">
    <H1><b style="font-size: .75em;">Create Study</b></H1>
    <hr>
    <form method="POST" class="study-form">{% csrf_token %}
          {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add test</button>
    </form>

{% endblock %}

</html>