<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base2.html' %}
{% block content %}

    <div class="container-fluid">
        <H2>Help</H2>
        <hr>

        <h4>Understanding the function of each page in the navigation bar</h4>
        <ul>
            <li><p><b>Studies: </b>to REVIEW the inventory by a specific study</p></li>
            <li><p><b>Check-In Kits: </b>to ADD kits into the inventory</p></li>
            <li><p><b>Check-Out Kits: </b>to REMOVE kits from the inventory</p></li>
            <li><p><b>Reports: </b>to REVIEW reports about all studies </p></li>
        </ul>

        <h4>Understanding how to add kits to the inventory</h4>
            <ol>
                <li>Go to the 'Check-In Kits' page</li>
                <li>Click on the 'Add Kit Type' button that will allow you to add a type of kit for a specific study</li>
            </ol>
    </div>
{% endblock %}

</html>