<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}
    <style>
    .box {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
    </style>
    <div class="box">
        <H1><b style="font-size: .75em;">Kit Checkout</b></H1>

        <hr>
        <form method="get">
           {{ myFilter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Kit ID</th>
                <th>Status</th>
                <th>Expiration Date</th>
                <th colspan="4">Checkout Confirm</th>


            </tr>
            </thead>
            <tbody>
            {% for kit in kitinstance %}
            <tr>
                <td>{{ kitinstance.status}}</td>
                <td>{{ kitinstance.kit_id}}</td>
                <td>{{ kitinstance.expiration_date}}</td>
                <td><a href="{% url 'KITS:kit_checkout' pk=kitinstance.pk%}"
                    onclick="return confirm('Are you sure you want to checkout Kit {{ kitinstance.kit_id }}?"
                       class="btn btn-warning">Checkout</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}

</html>

