<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base2.html' %}
{% block content %}
    <style>
    .box {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
    </style>
    <div class="box">
        <H1><b style="font-size: .75em;">Reports</b></H1>
        <hr>

        <H2>Expired Kits</H2>
        <a href="{%  url 'KITS:report_expiredkits' %}" class="btn btn-success">List of all expired kits</a>
        <a href="{%  url 'KITS:report_expiredkits_studies' %}" class="btn btn-success">List of studies with expired kits</a>
        <a href="{%  url 'KITS:report_activestudies' %}" class="btn btn-success">Active and Less Active Studies</a>
        <a href="{%  url 'KITS:user_list' %}" class="btn btn-success">User and Studies</a>
    </div>
{% endblock %}

</html>