<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}
    <style>
    .box {
    margin: 8px;
    border: 1px solid silver;
    padding: 10px;
    padding-bottom:100px;
    border-radius: 4px;
}
    .column {
        float: left;
        width: 50%;
        border-right: 1px;
    }
    </style>
    <div class="box">
    <H1><b style="font-size: .75em;">Study: {{ study }} {{ study.pet_name }}</b></H1>
    <hr>

    <p><b>Status: </b>{{ study.status }}</p>
    <p><b>Sponsor: </b>{{ study.sponsor_name }}</p>

    {% if study.comment == ''%}
        <p><b>Notes:</b> <em>No additional notes were added.</em></p>
    {% else %}
        <p><b>Notes:</b> {{ study.comment }}</p>

    {% endif %}


    {% if kit_exist == 'False' %}

        <p><b>Kits: </b>No kits have been added to this study. To edit, go to 'Check-In Kits'</p>

    {% else %}
        <hr>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Kit Name</th>
                <th>Kits Available</th>
                <th>Kits Expired</th>
                <th>Kit last to expire</th>
                <th>Location</th>
                <th>Requisition</th>
                <th>Additional notes</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for kit in kits %}
                <tr>
                    <td>{{ kit.type_name }}</td>
                    <td>{{ kit.no_of_kits }}</td>
                    <td>{{ kit.no_of_kits_exp }}</td>
                    <td>{{ kit.exp }}</td>
                    <td>{{ kit.location }}
                    <td>{{ new_req.description }}</td>
                    <td>{{ kit.description }}</td>
                    <td><a href="{% url 'KITS:kit_edit_from_study' pk=kit.pk %}" class="btn btn-warning">Edit kit details</a></td>


                </tr>

            {% endfor %}
            </tbody>
        </table>


        <a href="{% url 'KITS:study_detail_seeallkits' pk=study.pk %}" class="btn btn-warning">See all kits in this study</a>
    {% endif %}
    <hr>

    <div class="column">
    {% if test == 'True' %}
        <h3>Kit Ordering </h3>
        <p> {{ kit_order }} </p>

            {% if study.kitorder.type == 'link' or study.kitorder.type == 'file'%}

                    {% if study.kitorder.description == ''%}
                            <p></p>
                    {% else %}
                        <p><b>Description:</b> {{ study.kitorder.description }}</p>
                    {% endif %}

            {% endif %}

        <a href="{% url 'KITS:kit_ordering' pk=study.pk %}" class="btn btn-success">Edit kit ordering details</a>


    {% elif test == 'False' %}

        <p>{{ kit_order }}</p>
        <a href="{% url 'KITS:kit_ordering_add' pk=study.pk %}" class="btn btn-success">Add Kit Ordering Info</a>

    {% endif %}


    </div>

    <h3>Requisition: </h3>
    <a href="{% url 'KITS:create_req' pk=study.pk %}" class="btn btn-success">Add Requisition Info</a>
    <a class="btn btn-warning" href="{% url 'KITS:req_edit' pk=study.pk %}">Edit Requisition Info</a>



{% endblock %}

    </div>

</html>
