<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <link href="../../KITS/static/css/styles.css" type="text/css" rel="stylesheet"/>
    <title> KITS Login</title>
</head>
    <body>
        <h1>Login</h1>
            <p>
            Welcome to the Kit Inventory Tracking System!
            </p>
        <form method="FORM" class="form-group">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" >Login</button>

        </form>

        <p><a class="btn btn-default" href="{% url 'KITS:home' %}"
                                           role="button">Login Link #2</a></p>

        {# Link to reset password. #}
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </body>

{% endblock content %}

</html>