<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}


<title> KITS Login</title>
<head>
    <meta charset="UTF-8">
    <link href="../templates/styles.css" type="text/css" rel="stylesheet"/>
</head>
    <body>
        <h1>Login</h1>
            <p>
            Welcome to the Kit Inventory Tracking System!
            </p>
        <form method="FORM" class=""form-group">
        {% csrf_token %}
        <button type="submit" class="btn btn-success" >Login</button>

        </form>

        <p><a class="btn btn-default" href="{% url 'KITS:home' %}"
                                           role="button">Login Link #2</a></p>

        <button class="button" style="vertical-align:middle"><span> Style Button </span></button>
    </body>

{% endblock content %}

</html>